.room-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.room-item {
    background: var(--color-dark);
    color: var(--color-light);
    border: 2px solid var(--color-primary);
    padding: 10px;
    border-radius: 5px;
}

.room-item h2 {
    font-size: 1.5rem;
    margin: 0;
}

.join-btn {
    background: var(--color-secondary);
    color: var(--color-light);
    padding: 5px 10px;
    border-radius: 5px;
}
